body {
    font-family: Open Sans;
}

table, th, td {
    border-collapse: collapse;
    margin: 0.2em;
}


td.left, td.top, td.right, td.bottom {
    cursor: pointer;
    min-width: 1.25em;
    width: 1.25em;
    min-height: 1.25em;
    height: 1.25em;
}
td.left {border-left: 1px solid;}
td.top {border-top: 1px solid;}
td.right {border-right: 1px solid;}
td.bottom {border-bottom: 1px solid;}

.star {background-color: #FDCB9C;}
.green {background-color: #B7E1CD;}
.grey {background-color: #D9D9D9;}
.yellow {background-color: #FCE8B2;}
.red {background-color: #F4C7C3;}

td.full_star {background-color: #ff7f00;}
td.full_green {background-color: #00FF00;}
td.full_grey {background-color: #9D9D9D;}
td.full_yellow {background-color: #FFFF00;}
td.full_red {background-color: #FF0000;}

.sigil {
    border: 1px solid;
    min-width: 1.75em;
    height: 1.75em;
    text-align: center;
}
.pointer {
    cursor: pointer;
}

#sigils {border: 1px solid;}
#sigils th {
    border: 1px solid;
    height: 1.75em;
    padding-left: 0.4em;
    padding-right: 0.4em;
}

#selected {
    margin-right: 0.8em;
}

#container {
    display: flex;
    justify-content: center;
}

#title {
    text-align: center;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

#inputs {
    text-align: center;
    margin-top: 0.75em;
}

#arrangers {
    display: flex;
    position: relative;
    top: -7px;
}
#arrangers div {
    margin: 0.2em;
}
#arrangers div table {
    margin: 0.4em auto;
    position: relative;
}
