/* More minimal version of https://github.com/apple1417/bl2parts/blob/master/style.css */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

:root {
    --main-text-colour: #e7e8e9;
}

html {
    min-height: 100%;
}

body {
    font-family: Open Sans;
    color: var(--main-text-colour);
    background: #203a43;
    background: linear-gradient(#2c5364, #203a43 60%, #0f2027);
}

table, td, th {
    text-align: center;
    padding: 0.3em;
    margin: 0 auto;
}
table {
    margin: 0.5em auto;
}
th {
    font-size: 1.05em;
}
td {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

h1 {
    text-align: center;
}

br {
    margin-bottom: 0.4em;
}

a {
    color: palevioletred;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active {
    color: var(--main-text-colour);
}
a:visited {
    color: darkred;
}

img.center {
    display: block;
    margin: 0 auto;
}

.text {
    max-width: 50em;
    margin: 0 auto;
}
