@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-family: Open Sans;
}

table, th, td {
    border-collapse: collapse;
    margin: 0.2em;
}


td.left, td.top, td.right, td.bottom {
    cursor: pointer;
    min-width: 1.25em;
    width: 1.25em;
    min-height: 1.25em;
    height: 1.25em;
}
td.left {border-left: 1px solid;}
td.top {border-top: 1px solid;}
td.right {border-right: 1px solid;}
td.bottom {border-bottom: 1px solid;}

.star {background-color: orange;}
.green {background-color: olivedrab;}
.grey {background-color: darkgrey;}
.yellow {background-color: gold;}
.red {background-color: red;}

td.full_star {background-color: chocolate;}
td.full_green {background-color: darkgreen;}
td.full_grey {background-color: dimgrey;}
td.full_yellow {background-color: darkgoldenrod;}
td.full_red {background-color: darkred;}

.sigil {
    border: 1px solid;
    min-width: 1.75em;
    height: 1.75em;
    text-align: center;
}
.pointer {
    cursor: pointer;
}

.highlight {
    z-index: 2;
}

#sigils {
    border: 1px solid;
    white-space: nowrap;
    background-color: #FFFFFF;
}
#sigils th {
    border: 1px solid;
    height: 1.75em;
    padding-left: 0.4em;
    padding-right: 0.4em;
}

#selected {
    margin-right: 0.8em;
    background-color: #FFFFFF;
}

#container {
    display: flex;
    justify-content: safe center;
    min-width: min-content;
}

#title {
    text-align: center;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

#inputs {
    text-align: center;
    margin-top: 0.75em;
}

#arrangers {
    display: flex;
    position: relative;
    top: -6px;
    background-color: #FFFFFF;
}
#arrangers div {
    margin: 0.2em;
}
#arrangers div table {
    margin: 0.4em auto;
}

#seedDisplay {
    font-size: 0.8em;
    color: #767676;
}

#darkBackground {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.5;
    display: none;
}

#help {
    z-index: 3;
    position: absolute;
    top: 1em;
    left: 1em;
    width: 20em;
    background-color: #FFFFFF;
    border: 1px solid;
    padding: 0.5em;
    display: none;
}
#helpProgress {
    text-align: center;
}
#previous, #next {
    width: 5em;
}
#helpButton {
    position: absolute;
    left: 1em;
    top: 1em;
    padding-left: 0.375em;
    padding-right: 0.375em
}
