---
---

@import "moonwalk";
@import "list";
// @import "syntax";

// ================================

@import "pygments-native";

div.highlighter-rouge pre code, pre code.highlighter-rouge {
    padding: 0;
}
.highlighter-rouge {
    line-height: 1.2;

    // Prevent theme switching text colour
    table {
        color: revert;
        margin-left: unset;
    }

    table, th, td {
        border: none;
        padding: 0 0.3rem;
    }

    .lineno {
        min-width: 1.3rem;
        text-align: right;
        user-select: none;
        opacity: 0.5;
    }

    &.no-lineno {
        .lineno {
            display: none;
        }
    }

    // Moonwalk uses a `w` class for the main page contents
    // Rouge uses a `w` class for whitespace
    .w {
        max-width: unset;
        margin: unset;
        padding: unset;
    }
}

table, th, td {
    border-color: var(--text);
    width: unset;
    margin: 0 auto;
}

body {
    line-height: 1.5;
}

details > summary {
    cursor: pointer;
    border: 1px solid;
    border-radius: 5px;
    padding: 0.2em 0.5em;
}

button {
    cursor: pointer;
    color: var(--text);
    background-color: var(--bg-secondary);
    font-size: 0.9em;
    text-align: center;
    padding: 0.5em 0.8em;
    border: 1px var(--text) solid;
    border-radius: 0.5em;
}
button:hover {
    filter: brightness(90%);
}

// Remove extra padding from nested quotes
blockquote blockquote {
    padding: unset;
}
