---
---

@import "moonwalk";
@import "list";
// @import "syntax";

// ================================

@import "monokai";

div.highlighter-rouge pre code, pre code.highlighter-rouge {
    padding: 0;
}
.highlighter-rouge {
    line-height: 1.2;

    // Prevent theme switching text colour
    table {
        color: revert;
        margin-left: unset;
    }

    table, th, td {
        border: none;
        padding: 0 0.3rem;
    }

    .lineno {
        min-width: 1.3rem;
        text-align: right;
        user-select: none;
        opacity: 0.5;
    }

    &.no-lineno {
        .lineno {
            display: none;
        }
    }
}

table, th, td {
    border-color: var(--text);
    width: unset;
    margin: 0 auto;
}

body {
    line-height: 1.5;
}
